.App {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.main-input {
  height: 50px;
  width: 100%;
  font-size: 20px;
}
input::placeholder {
  color: lightgray;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.list-item {
  display: inline-flex;
  align-items: center;
  margin-top: -10px;
  line-height: 3;
  width: 100%;
}
.task-text {
  font-size: 20px;
  vertical-align: center;
  flex: 1;
}
.checkbox-item {
  width: 25px;
  height: 25px;
  margin: 0;
}
.delete-button {
  font-size: 20px;
  border: none;
  background: none;
}
