.App {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.main-input {
  height: 50px;
  width: 500px;
  font-size: 20px;
}
input::placeholder {
  color: lightgray;
}
ul {
  list-style-type: none;
}
.list-item {
  display: flex;
}
.checkbox-item {
  width: 20px;
  height: 20px;
}
